

html {
margin: 0;
padding: 0;
  background-color: #3b21a1;
  /* font-family: Helvetica, sans-serif; */
 



}
     .container {
     
       perspective: 1000px;
  
       
  
  
     }
  
     .container:hover>.card {
       cursor: pointer;
       transform: rotateY(180deg);
  
     }
  
     .card {
       width: 100%;
       height: 100%;
       position: relative;
       transform-style: preserve-3d;
       transition: 1s;
  
     }
  
     .front,
     .back {
       height: 100%;
       width: 100%;
       /* border-radius: 1rem; */
       box-shadow: 0 0 5px rgba(50, 50, 50, 0.25);
       position: absolute;
       backface-visibility: hidden;
     }
  
     
  
     .back {
      background-color: white;
       /* background-color: #3a3a3a; */
       transform: rotateY(180deg);
       display: flex;
       padding: 1rem;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 5rem;
     }